<ion-view view-title="Sections" can-swipe-back="false">
    
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button/>
    </ion-nav-bar>
    
    <div id="container-floating">
        <button class="nd2 nds noborder" ng-click="vm.addSection()">
            <i class="icon ion-plus-round"></i>
        </button>

        <button class="nd1 nds noborder" ng-click="vm.addSection()">
            <i class="icon ion-plus-round"></i>
        </button>
        
        <button id="floating-button" class="button button-positive" ng-click="vm.addSection()">
            <i class="plus icon ion-plus-round"></i>
            <i class="edit icon ion-android-arrow-dropup-circle"></i>
        </button>
    </div>
    
    <ion-content class="has-header">

	<button ng-click="vm.addFromExisting()" style="color: #ff3344f;">Add from existing</button>        
        <div ng-hide="vm.hideList()">
            <ion-list>
                <ion-item ng-click="vm.listQuestions(section.id)" ng-repeat="section in vm.sections" class="item-button-right">{{section.heading}}
                    <button ng-click="vm.showActionMenu($event, section.id)" class="button button-icon icon ion-navicon actionMenuButton"></button>
                </ion-item>
            </ion-list>
        </div>
        
        <div ng-hide="vm.hideNoItems()" class="backgroundText">
            <h1 class="light">No Items Yet!</h1>
        </div>
        
        <div ng-hide="!vm.stillWaiting()" class="backgroundText">
            <div>
                <h1 class="light">Updating</h1>
            </div>
         
            <div class="spinner">
                <ion-spinner icon="ios" class="spinner-light" />
            </div>
        </div>
        
    </ion-content>
    
    <ion-footer-bar class="bar bar-dark bar-footer row">
        <i class="col-20"></i>
    </ion-footer-bar>
    
</ion-view>
