<ion-view view-title="Section Details" can-swipe-back="false">

    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button/>
    </ion-nav-bar>

    <ion-content class="has-header">

         <div class="detailsHolder">
            <form ng-submit="vm.updateSection()" class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Section Heading</span>
                    <input type="text" placeholder="Section: Extracurricular activities" ng-model="vm.section.heading" ng-required="true"/>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Introduction Message</span>
                    <input type="text" placeholder="Extracurricular section introduction" ng-model="vm.section.introductionMessage" ng-required="true"/>
                </label>
                <div ng-show="!vm.referenceCount()">
                    <input class="confirmEditButton" value="Update Section" type="submit"/>
                    <input class="cancelEditButton" value="Cancel" type="button" ui-sref="sections_list({surveyId: vm.parentSurvey.id})"/>
                </div>
                <div ng-show="vm.referenceCount()">
                    <h4 class="light">This section belongs to {{vm.section.referenceCount}} survey therefore you cannot edit it.</h4>
                </div>
            </form>
        </div>

    </ion-content>

    <!-- <ion-footer-bar class="bar bar-dark bar-footer row">    
    </ion-footer-bar> -->

</ion-view>
