.pane {
    background-color: #272733;
}

.bar {
    position: fixed;
    bottom: 0px;
    padding: 0px;
}

.contextButton {
    float: right;
    width: 60px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.doneButton {
    margin: 5px;
    color: white;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.backgroundText,
.detailText {
    text-align: center;
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.detailText {
    margin-top: 14rem;
    width: 50%;
}

.spinner {
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.button-float {
    min-width: 55px;
    min-height: 55px;
    color: white !important;
    z-index: 12 !important;
    position: absolute !important;
    bottom: 54px !important;
    right: 10px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    transform: translate3d(0, 0, 0) !important;
}

.button-float:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
    transition: all 0.3s !important;
    transform: translateZ(10px) !important;
}
