.pane {
    background-color: #272733;
}

.bar {
    position: fixed;
    bottom: 0px;
    padding: 0px;
}

.contextButton {
    float: right;
    width: 60px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.doneButton {
    margin: 5px;
    color: white;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.backgroundText,
.detailText {
    text-align: center;
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.detailText {
    margin-top: 14rem;
    width: 50%;
}

.spinner {
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.popup-head {
    background-color: lightslategrey;
}

.popup-body {}

ion-content.homeContent > .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ion-content[class*="homeContent"].scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}
