<ion-view view-title="Questions" can-swipe-back="false">
    
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button/>
    </ion-nav-bar>
    
    <ion-content class="has-header">
        
        <div ng-hide="vm.hideList()">
            <ion-list>
                <ion-item ng-click="vm.selectDetail($index)" ng-repeat="question in vm.questions" class="item-button-right">{{question.questionText}}
                    <!-- Placeholder
                    <button ng-click="vm.showDeleteAlert($event, $index)" class="button button-small button-assertive contextButton">Delete</button> -->
                    
                    <button ng-click="vm.showDeleteAlert($event, $index)" class="button button-icon icon ion-ios-close actionMenuButton" style="color:#ff3344f;"></button>
                </ion-item>
            </ion-list>
        </div>
        
        <div ng-hide="vm.hideNoItems()" class="backgroundText">
            <h1 class="light">No Items Yet!</h1>
        </div>
        
        <div ng-hide="!vm.stillWaiting()" class="backgroundText">
            <div>
                <h1 class="light">Updating</h1>
            </div>
            
            <div class="spinner">
                <ion-spinner icon="ios" class="spinner-light"/>
            </div>
        </div>
        
    </ion-content>
    
    <ion-footer-bar class="bar bar-dark bar-footer row">
        <i class="col-20"></i>
    </ion-footer-bar>
    
</ion-view>
