<ion-view view-title="Questions" can-swipe-back="false">
    
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button/>
    </ion-nav-bar>
    
    <ion-content class="has-header">
        
        <div ng-hide="vm.hideList()">
            <md-list>
                <md-list-item  ng-repeat="question in vm.questions" class="listItem">
                    {{question.questionText}}
                    <md-checkbox class="md-secondary" ng-model="question.adding" aria-label="Qaddfe"></md-checkbox>
                </md-list-item>
            </md-list>
        </div>
        
        <div ng-hide="vm.hideNoItems()" class="backgroundText">
            <h1 class="light">No more questions!</h1>
        </div>
        
        <div ng-hide="!vm.stillWaiting()" class="backgroundText">
            <div>
                <h1 class="light">Updating</h1>
            </div>
            
            <div class="spinner">
                <ion-spinner icon="ios" class="spinner-light"/>
            </div>
        </div>
        
    </ion-content>
    
    <ion-footer-bar class="bar bar-dark bar-footer row">
        <i class="col-20"><button ng-click="vm.addQuestions()">Add questions</button></i>
    </ion-footer-bar>
    
</ion-view>
