<ion-view view-title="Add Question" can-swipe-back="false">

    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button/>
    </ion-nav-bar>
    
    <ion-content class="has-header">
          <form ng-submit="vm.createQuestion()">
              <input type="text" placeholder="Question Text" ng-model="vm.question.questionText"/>
              <select ng-model="vm.question.questionType" name="questionType">
                <option value="FREE_TEXT">Free Text</option>
                <option value="BOOLEAN">Boolean</option>
                <option value="RATING_1_TO_5">Rating from 1 to 5</option>
                <option value="MULTIPLE_SELECT">Multiple Select</option>
                <option value="TIME">Time</option>
                <option value="DURATION_S">Duration in Second</option>
                <option value="SINGLE_SELECT">Single Select</option>
                <option value="NUMBER">Number</option>
              </select>
              <input value="CREATE QUESTION" type="submit"/>
          </form>

          <div ng-show="vm.displayAddQuestionChoices()">
            <input ng-model="choice" type="text" placeholder="Add Choice"/>
            <button ng-click="vm.addChoice(choice)">ADD</button>
              <ion-list>
                <ion-item ng-repeat="choice in vm.question.questionChoices">
                  {{choice}}
                </ion-item>
            </ion-list>
          </div>
           
         
    </ion-content>

    <ion-footer-bar class="bar bar-dark bar-footer row">
        <i class="col-20"></i>
    </ion-footer-bar>

</ion-view>