<ion-view view-title="Homepage" can-swipe-back="false">

    <ion-content class="homeContent" padding="true">

        <ul class="list">
            <li><h1 class="light">SurveyBuilder</h1></li>
            <li>
                <button style="min-width: 20%" class="button button-positive button-large" ng-click="vm.listAllSurveys()">Load Surveys</button>
            </li>
            <br/>
            <button class="button button-positive button-small ion-gear-a" ng-click="vm.listAllSections()"> Load All Sections</button>
            <button class="button button-positive button-small ion-gear-a" ng-click="vm.listAllQuestions()"> Load All Questions</button>
        </ul>

    </ion-content>

</ion-view>
