<ion-view view-title="Survey Detail" can-swipe-back="false">

    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button/>
    </ion-nav-bar>
    
    <ion-content class="has-header">

      <div class="list detailText">
          <form ng-submit="vm.updateSurvey()">
              <h3 class="light">Title:</h3>
              <label class="item item-input">
                  <input type="text" placeholder="Intro Message" ng-model="vm.survey.introductionMessage"/>
              </label>

              <h3 class="light">Description:</h3>
              <label class="item item-input">
                  <input type="text" placeholder="Completion Message" ng-model="vm.survey.completionMessage"/>
              </label>
              <input value="Confirm" type="submit"/>
              <input value="Cancel" type="button" ng-click="vm.cancelEditing()">
          </form>
      </div> 

        
        

    </ion-content>

    <ion-footer-bar class="bar bar-dark bar-footer row">
    
    </ion-footer-bar>

</ion-view>
