<div ng-show="user">
    <h1>Hello {{user.name}}</h1>
    <div>
        <p>{{user.location}}</p>
        <p>{{user.id}}</p>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
    </div> 
        Order by:
        <select ng-model="repoSortOrder">
            <option value="+name" selected>Name</option>
            <option value="-stargazers_count">Stars</option>
            <option value="+language">Language</option>
       </select>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                     <td>Stars</td>
                     <td>Languages</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos | orderBy:repoSortOrder ">
                    <td>{{repo.name}}</td>
                    <td>{{repo.stargazers_count | number}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table> 
    
    </div>